flow-tugas2.json
[{"id":"7ff520e2.b4124","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b2729ca1.bd3e6","type":"ui_text","z":"7ff520e2.b4124","d":true,"group":"a06278f.2cf0388","order":1,"width":0,"height":0,"name":"stateHumidity","label":"Humidity:","format":"{{msg.payload.value}}","layout":"row-center","x":660,"y":60,"wires":[]},{"id":"b87a5593.1358a8","type":"json","z":"7ff520e2.b4124","name":"","property":"payload","action":"obj","pretty":true,"x":430,"y":60,"wires":[["b2729ca1.bd3e6","51d626c1.a138c8"]]},{"id":"cbb3308d.c029e","type":"inject","z":"7ff520e2.b4124","name":"","props":[],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":60,"wires":[["aa670c36.4434"]]},{"id":"f1c68f9a.76bb9","type":"ui_text","z":"7ff520e2.b4124","d":true,"group":"da8af020.5c2ce","order":1,"width":0,"height":0,"name":"stateTemperature","label":"Temperature:","format":"{{msg.payload.value}}","layout":"row-center","x":670,"y":200,"wires":[]},{"id":"aa670c36.4434","type":"http request","z":"7ff520e2.b4124","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"http://192.168.0.108/humidity","tls":"","persist":true,"proxy":"","authType":"","x":270,"y":60,"wires":[["b87a5593.1358a8"]]},{"id":"82b5f5d0.4fa778","type":"inject","z":"7ff520e2.b4124","name":"","props":[],"repeat":"2","crontab":"","once":false,"onceDelay":"2","topic":"","x":110,"y":200,"wires":[["8daa76f3.fabc38"]]},{"id":"8daa76f3.fabc38","type":"http request","z":"7ff520e2.b4124","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"http://192.168.0.108/temperature","tls":"","persist":true,"proxy":"","authType":"","x":270,"y":200,"wires":[["8bf10a92.6653a8"]]},{"id":"8bf10a92.6653a8","type":"json","z":"7ff520e2.b4124","name":"","property":"payload","action":"obj","pretty":false,"x":430,"y":200,"wires":[["f1c68f9a.76bb9","6d27bba9.d166f4"]]},{"id":"7114f1c1.ee426","type":"inject","z":"7ff520e2.b4124","name":"","props":[],"repeat":"1","crontab":"","once":false,"onceDelay":"2","topic":"","x":110,"y":320,"wires":[["547f2acd.e24d54"]]},{"id":"547f2acd.e24d54","type":"http request","z":"7ff520e2.b4124","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"http://192.168.0.108/led","tls":"","persist":true,"proxy":"","authType":"","x":270,"y":320,"wires":[["1d06a10c.5b740f"]]},{"id":"1d06a10c.5b740f","type":"json","z":"7ff520e2.b4124","name":"","property":"payload","action":"","pretty":false,"x":420,"y":320,"wires":[["490f407e.fa58c"]]},{"id":"490f407e.fa58c","type":"ui_text","z":"7ff520e2.b4124","group":"a5963809.a16418","order":1,"width":0,"height":0,"name":"stateLed","label":"LED status:","format":"{{msg.payload.value}}","layout":"row-center","x":580,"y":320,"wires":[]},{"id":"6d27bba9.d166f4","type":"ui_gauge","z":"7ff520e2.b4124","name":"","group":"da8af020.5c2ce","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celc","format":"{{msg.payload.value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":240,"wires":[]},{"id":"51d626c1.a138c8","type":"ui_gauge","z":"7ff520e2.b4124","name":"","group":"a06278f.2cf0388","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":100,"wires":[]},{"id":"dfc4f640.2f9e88","type":"ui_button","z":"7ff520e2.b4124","name":"","group":"a5963809.a16418","order":3,"width":0,"height":0,"passthru":false,"label":"Toggle LED","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":400,"wires":[["4a897600.10993c"]]},{"id":"4a897600.10993c","type":"http request","z":"7ff520e2.b4124","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.108/ledtoggle","tls":"","persist":true,"proxy":"","authType":"","x":290,"y":400,"wires":[[]]},{"id":"a06278f.2cf0388","type":"ui_group","name":"Humidity","tab":"46d6c2fa.10c8bc","order":2,"disp":true,"width":"6","collapse":false},{"id":"da8af020.5c2ce","type":"ui_group","name":"Temperature","tab":"46d6c2fa.10c8bc","order":1,"disp":true,"width":"6","collapse":false},{"id":"a5963809.a16418","type":"ui_group","name":"LED","tab":"46d6c2fa.10c8bc","order":3,"disp":true,"width":"6","collapse":false},{"id":"46d6c2fa.10c8bc","type":"ui_tab","name":"Tugas 2","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
