fltgs1wrap.md
[{"id":"39f7ac8e.04b794","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a7d9ff30.d574f","type":"serial in","z":"39f7ac8e.04b794","name":"","serial":"af75a2f.b2c876","x":170,"y":160,"wires":[["a9cb501.70fd8b","6ec29b63.4d20f4","45e67fec.99751","1322af9a.75897"]]},{"id":"45e67fec.99751","type":"debug","z":"39f7ac8e.04b794","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":120,"wires":[]},{"id":"1947e80e.bdd328","type":"ui_gauge","z":"39f7ac8e.04b794","name":"","group":"f17714b6.219468","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celcius","format":"{{msg.payload}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":180,"wires":[]},{"id":"d00415d8.dafda8","type":"ui_gauge","z":"39f7ac8e.04b794","name":"","group":"f9111ffe.99807","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":260,"wires":[]},{"id":"a9cb501.70fd8b","type":"function","z":"39f7ac8e.04b794","name":"ParserTemperature","func":"const temp1 =  msg.payload.slice(31,33);\nconst temp2 =  msg.payload.slice(34,36);\nconst temp = parseInt(temp1.concat(temp2));\nconst temperature = { payload: temp/100 };\nreturn temperature;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":180,"wires":[["1947e80e.bdd328"]]},{"id":"6ec29b63.4d20f4","type":"function","z":"39f7ac8e.04b794","name":"ParserHumidity","func":"const humid1 = msg.payload.slice(10,12);\nconst humid2 = msg.payload.slice(13,15);\nconst humid = parseInt(humid1.concat(humid2));\nconst humidity = { payload: humid/100 };\nreturn humidity;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":260,"wires":[["d00415d8.dafda8"]]},{"id":"9601eb2f.90db78","type":"ui_text","z":"39f7ac8e.04b794","group":"1b04c684.810e09","order":1,"width":0,"height":0,"name":"LED","label":"LED Status","format":"{{msg.payload}}","layout":"row-center","x":610,"y":320,"wires":[]},{"id":"1322af9a.75897","type":"function","z":"39f7ac8e.04b794","name":"parserLed","func":"const led = { payload: msg.payload.slice(44, 48) };\nreturn led;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":320,"wires":[["9601eb2f.90db78"]]},{"id":"a83a6767.c47a28","type":"ui_button","z":"39f7ac8e.04b794","name":"","group":"1b04c684.810e09","order":3,"width":0,"height":0,"passthru":false,"label":"TOGGLE LED","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":300,"y":400,"wires":[["ee9b1db4.065b"]]},{"id":"ee9b1db4.065b","type":"serial out","z":"39f7ac8e.04b794","name":"","serial":"af75a2f.b2c876","x":610,"y":400,"wires":[]},{"id":"af75a2f.b2c876","type":"serial-port","serialport":"COM8","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"30000"},{"id":"f17714b6.219468","type":"ui_group","name":"Temperature","tab":"624c0164.f0b5c","order":1,"disp":true,"width":"6","collapse":false},{"id":"f9111ffe.99807","type":"ui_group","name":"Humidity","tab":"624c0164.f0b5c","order":2,"disp":true,"width":"6","collapse":false},{"id":"1b04c684.810e09","type":"ui_group","name":"LED","tab":"624c0164.f0b5c","order":3,"disp":true,"width":"6","collapse":false},{"id":"624c0164.f0b5c","type":"ui_tab","name":"Tugas 1","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
